###############################
# General Java Ignore
###############################
*.class
*.log
*.jar
*.war
*.ear

###############################
# IntelliJ IDEA
###############################
.idea/
*.iml
out/

###############################
# VS Code
###############################
.vscode/
bin/

###############################
# Eclipse (optional, safe)
###############################
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

###############################
# NetBeans
###############################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

###############################
# Build directories
###############################
build/
target/

###############################
# OS junk
###############################
.DS_Store
Thumbs.db
